.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  margin-bottom: 35px;
}

.card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;

  display: flex;
  align-items: center;
  gap: 18px;

  height: 120px;   /* Fixed height */
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,.15);
}

.card-icon {
  width: 60px;
  height: 60px;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 26px;
}

.card-info h2 {
  margin: 0;
  font-size: 28px;
  color: #1E293B;
}

.card-info p {
  margin-top: 6px;
  color: #64748B;
  font-size: 15px;
}