.chart-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
  height: 430px;
  display: flex;
  flex-direction: column;
}

.chart-header {
  margin-bottom: 20px;
}

.chart-header h2 {
  font-size: 24px;
  color: #1e293b;
  margin-bottom: 5px;
}

.chart-header p {
  color: #64748b;
}

.chart-body {
  flex: 1;
}.chart-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
  height: 430px;
  display: flex;
  flex-direction: column;
}

.chart-header {
  margin-bottom: 20px;
}

.chart-header h2 {
  font-size: 24px;
  color: #1e293b;
  margin-bottom: 5px;
}

.chart-header p {
  color: #64748b;
}

.chart-body {
  flex: 1;
  position: relative;
  height: 320px;
}