.export-btn{

background:#dc2626;

color:white;

border:none;

padding:12px 22px;

border-radius:12px;

display:flex;

align-items:center;

gap:10px;

cursor:pointer;

font-weight:600;

font-size:15px;

transition:.3s;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.export-btn:hover{

background:#b91c1c;

transform:translateY(-2px);

}