*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI, sans-serif;
    background:#eef2f7;
}

.login-container{
    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#4F46E5,#3B82F6,#06B6D4);
}

.login-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:18px;

    box-shadow:0 12px 35px rgba(0,0,0,.15);

}

.login-header{

    text-align:center;

    margin-bottom:35px;

}

.login-header h1{

    color:#1E3A8A;

    margin-bottom:10px;

}

.login-header p{

    color:#777;

    font-size:14px;

}

.login-form{

    display:flex;

    flex-direction:column;

    gap:22px;

}

.input-group{

    display:flex;

    align-items:center;

    border:1px solid #ddd;

    border-radius:10px;

    padding:13px;

    transition:.3s;

}

.input-group:hover{

    border-color:#3B82F6;

}

.input-group:focus-within{

    border-color:#2563EB;

    box-shadow:0 0 8px rgba(37,99,235,.2);

}

.input-icon{

    color:#3B82F6;

    margin-right:12px;

}

.input-group input{

    border:none;

    outline:none;

    width:100%;

    font-size:15px;

}

.login-options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    font-size:14px;

}

.login-options a{

    color:#2563EB;

    text-decoration:none;

    font-weight:500;

}

.login-btn{

    padding:14px;

    border:none;

    border-radius:10px;

    background:#2563EB;

    color:white;

    font-size:16px;

    font-weight:600;

    transition:.3s;

}

.login-btn:hover{

    background:#1D4ED8;

    transform:translateY(-2px);

}

.register-link{

    text-align:center;

    font-size:15px;

}

.register-link a{

    color:#2563EB;

    text-decoration:none;

    font-weight:600;

}

@media(max-width:500px){

.login-card{

    width:90%;

    padding:30px;

}

.login-header h1{

    font-size:26px;

}

}