.low-stock-card{

background:white;

padding:25px;

border-radius:18px;

box-shadow:0 5px 18px rgba(0,0,0,.08);

height:100%;

}

.low-stock-header{

margin-bottom:20px;

}

.low-stock-header h2{

color:#1E293B;

}

.stock-item{

display:flex;

align-items:center;

gap:15px;

padding:15px 0;

border-bottom:1px solid #E2E8F0;

}

.stock-item:last-child{

border:none;

}

.stock-icon{

width:50px;

height:50px;

background:#FEE2E2;

color:#DC2626;

border-radius:12px;

display:flex;

justify-content:center;

align-items:center;

font-size:20px;

}

.stock-item h4{

margin-bottom:5px;

color:#1E293B;

}

.stock-item p{

color:#64748B;

font-size:14px;

}