.navbar{

height:75px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

box-shadow:0 3px 12px rgba(0,0,0,.08);

}

.search-box{

display:flex;

align-items:center;

gap:10px;

background:#F1F5F9;

padding:10px 15px;

border-radius:10px;

width:320px;

}

.search-box input{

border:none;

background:transparent;

outline:none;

width:100%;

}

.navbar-right{

display:flex;

align-items:center;

gap:30px;

}

.notification{

position:relative;

font-size:22px;

cursor:pointer;

}

.notification span{

position:absolute;

top:-10px;

right:-10px;

background:red;

color:white;

width:20px;

height:20px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:12px;

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.profile-icon{

font-size:40px;

color:#2563EB;

}

.profile h4{

font-size:15px;

}

.profile p{

font-size:13px;

color:#666;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:30px;

}

.search-box{

display:flex;
align-items:center;
gap:10px;

background:white;

padding:12px 18px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.search-box input{

border:none;
outline:none;
font-size:15px;
width:240px;

}

.navbar-right{

display:flex;
align-items:center;
gap:15px;

}

.icon-wrapper{

position:relative;

}

.icon-btn{

width:50px;
height:50px;

border:none;

background:white;

border-radius:50%;

cursor:pointer;

font-size:20px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

position:relative;

}

.notification-dot{

width:10px;
height:10px;

background:red;

border-radius:50%;

position:absolute;

top:10px;
right:10px;

}

.dropdown{

position:absolute;

top:60px;

right:0;

width:260px;

background:white;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.12);

padding:15px;

z-index:999;

}

.dropdown h4{

margin-bottom:15px;

color:#1E293B;

}

.dropdown-item{

padding:12px;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

.dropdown-item:hover{

background:#F1F5F9;

}

.logout{

color:#DC2626;

font-weight:600;

}