.quick-actions{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:30px;
}

.action-card{

background:white;

border-radius:18px;

padding:25px;

text-align:center;

cursor:pointer;

transition:.3s;

box-shadow:0 5px 18px rgba(0,0,0,.08);

}

.action-card:hover{

transform:translateY(-6px);

box-shadow:0 12px 24px rgba(0,0,0,.12);

}

.action-icon{

width:65px;

height:65px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

margin:auto;

color:white;

font-size:24px;

margin-bottom:15px;

}

.action-card h3{

font-size:17px;

color:#1E293B;

}

@media(max-width:900px){

.quick-actions{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.quick-actions{

grid-template-columns:1fr;

}

}