.stats-section{
background:#2563eb;
padding:80px 8%;
display:grid;
grid-template-columns:repeat(4,1fr);
text-align:center;
color:white;
}

.stat-box h2{
font-size:48px;
margin-bottom:10px;
}

.stat-box p{
font-size:18px;
}

@media(max-width:768px){
.stats-section{
grid-template-columns:repeat(2,1fr);
gap:30px;
}
}